{% extends 'base/base_block.html' %} {# Ou o seu template base principal, ex: base/base.html #}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title_pagina %}
    <i class="material-icons">description</i>&nbsp;
    {% if object %}
        {% translate "Editar Nota Fiscal" %} {{ object.serie }}/{{ object.numero }}
    {% else %}
        {% translate "Adicionar Nova Nota Fiscal" %}
    {% endif %}
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">

        {% include 'base/title_header.html' %}

        {% include 'base/msg_sucesso.html' %}
        {% include 'base/msg_error.html' %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row clearfix">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>
                                {% if object %}
                                    {% translate "EDITAR NOTA FISCAL" %} {{ object.serie }}/{{ object.numero }}
                                {% else %}
                                    {% translate "ADICIONAR NOVA NOTA FISCAL" %}
                                {% endif %}
                            </strong>
                        </h2>
                    </div>
                    <div class="body">
                        <form role="form" action="" method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            
                            {# Renderiza erros não associados a campos específicos, se houver #}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.non_field_errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab_dados_nfe" data-toggle="tab">DADOS NF-E</a></li>
                                    {% if saida %} {# 'saida' deve ser uma variável de contexto passada pela view #}
                                    <li role="presentation"><a href="#tab_venda" data-toggle="tab">VENDA</a></li>
                                    <li role="presentation"><a href="#tab_emit_dest" data-toggle="tab">EMITENTE/DESTINATÁRIO</a></li>
                                    <li role="presentation"><a href="#tab_cobr" data-toggle="tab">COBRANÇA</a></li>
                                    {# <li role="presentation"><a href="#tab_aut" data-toggle="tab">AUTORIZAÇÃO DOWNLOAD</a></li> #}
                                        {% if object and object.pk %} {# 'edit_nfe' foi simplificado para object.pk #}
                                        <li role="presentation"><a href="#validacao" data-toggle="tab">VALIDAÇÃO</a></li>
                                        <li role="presentation"><a href="#sefaz" data-toggle="tab">SEFAZ</a></li>
                                        {% endif %}
                                    {% elif entrada %} {# 'entrada' deve ser uma variável de contexto passada pela view #}
                                    <li role="presentation"><a href="#tab_compra" data-toggle="tab">COMPRA</a></li>
                                    <li role="presentation"><a href="#tab_emit_dest" data-toggle="tab">EMITENTE/DESTINATÁRIO</a></li>
                                    {% endif %}
                                    <li role="presentation"><a href="#tab_inf_ad" data-toggle="tab">INFORMAÇÕES ADICIONAIS</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class.tab-pane active" id="tab_dados_nfe">
                                        <div class="row clearfix" style="margin-top:15px;">
                                            {# Campos do form para DADOS NF-E #}
                                            {# Ajuste os nomes dos campos para corresponder ao seu NotaFiscalFormCompleto #}
                                            
                                            {# Exemplo: Natureza da Operação (era form.natop) #}
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.natureza_operacao.errors %}error{% endif %}">
                                                        {{ form.natureza_operacao|add_class:"form-control" }}
                                                        <label class="form-label" for="{{ form.natureza_operacao.id_for_label }}">{{ form.natureza_operacao.label }}</label>
                                                    </div>
                                                    {% for error in form.natureza_operacao.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.serie.errors %}error{% endif %}">
                                                        {{ form.serie|add_class:"form-control" }}
                                                        <label class="form-label" for="{{ form.serie.id_for_label }}">{{ form.serie.label }}</label>
                                                    </div>
                                                    {% for error in form.serie.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.numero.errors %}error{% endif %}">
                                                        {{ form.numero|add_class:"form-control" }}
                                                        <label class="form-label" for="{{ form.numero.id_for_label }}">{{ form.numero.label }}</label>
                                                    </div>
                                                    {% for error in form.numero.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <label class="form-label static-label active" for="{{ form.data_emissao.id_for_label }}">{{form.data_emissao.label}}</label>
                                                    <div class="form-line {% if form.data_emissao.errors %}error{% endif %}">
                                                        {{form.data_emissao|add_class:"form-control datetimepicker"}}
                                                    </div>
                                                    {% for error in form.data_emissao.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <label class="form-label static-label active" for="{{ form.data_hora_saida_entrada.id_for_label }}">{{form.data_hora_saida_entrada.label}}</label>
                                                    <div class="form-line {% if form.data_hora_saida_entrada.errors %}error{% endif %}">
                                                        {{form.data_hora_saida_entrada|add_class:"form-control datetimepicker"}}
                                                    </div>
                                                    {% for error in form.data_hora_saida_entrada.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.indicador_pagamento.errors %}error{% endif %}">
                                                        {{form.indicador_pagamento|add_class:"form-control"}}
                                                        <label class="form-label" for="{{ form.indicador_pagamento.id_for_label }}">{{form.indicador_pagamento.label}}</label>
                                                    </div>
                                                    {% for error in form.indicador_pagamento.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.finalidade_emissao.errors %}error{% endif %}">
                                                        {{form.finalidade_emissao|add_class:"form-control"}}
                                                        <label class="form-label" for="{{ form.finalidade_emissao.id_for_label }}">{{form.finalidade_emissao.label}}</label>
                                                    </div>
                                                    {% for error in form.finalidade_emissao.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.forma_emissao.errors %}error{% endif %}">
                                                        {{form.forma_emissao|add_class:"form-control"}}
                                                        <label class="form-label" for="{{ form.forma_emissao.id_for_label }}">{{form.forma_emissao.label}}</label>
                                                    </div>
                                                    {% for error in form.forma_emissao.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            {# Exibir campos como status, tp_amb, mod, etc. se forem apenas para visualização #}
                                            {% if object %}
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <span class="form-control">{{ object.get_status_display }}</span>
                                                </div>
                                            </div>
                                            {# Adicione outros campos de visualização aqui #}
                                            {% endif %}
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab_emit_dest">
                                        <div class="row clearfix" style="margin-top:15px;">
                                            <div class="col-sm-12">
                                                <h4 style="border-bottom: 1px solid #afabab;margin-bottom: 25px;">Emitente</h4>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-float">
                                                        <div class="form-line {% if form.emitente.errors %}error{% endif %}">
                                                            {{ form.emitente|add_class:"form-control" }}
                                                            <label class="form-label" for="{{ form.emitente.id_for_label }}">{{ form.emitente.label }}</label>
                                                        </div>
                                                        {% for error in form.emitente.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                    </div>
                                                </div>
                                                {# Campos de span para exibir dados do emitente (requer JS) #}
                                                <div class="col-sm-6"><div class="form-group"><div class="form-line"><label>CPF/CNPJ</label><span class="form-control display-emit-field" id="cpf_cnpj_emit"></span></div></div></div>
                                                <div class="col-sm-12"><div class="form-group"><div class="form-line"><label>Endereço</label><span class="form-control display-emit-field" id="endereco_emit"></span></div></div></div>
                                                {/* ... outros spans para emitente ... */}
                                            </div>
                                            <div class="col-sm-12">
                                                <h4 style="border-bottom: 1px solid #afabab;margin-top: 20px; margin-bottom: 25px;">Destinatário</h4>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-float">
                                                        <div class="form-line {% if form.destinatario.errors %}error{% endif %}">
                                                            {{ form.destinatario|add_class:"form-control" }}
                                                            <label class="form-label" for="{{ form.destinatario.id_for_label }}">{{ form.destinatario.label }}</label>
                                                        </div>
                                                        {% for error in form.destinatario.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                    </div>
                                                </div>
                                                {# Campos de span para exibir dados do destinatário (requer JS) #}
                                                <div class="col-sm-6"><div class="form-group"><div class="form-line"><label>CPF/CNPJ/ID Estrangeiro</label><span class="form-control display-dest-field" id="cpf_cnpj_id_dest"></span></div></div></div>
                                                <div class="col-sm-12"><div class="form-group"><div class="form-line"><label>Endereço</label><span class="form-control display-dest-field" id="endereco_dest"></span></div></div></div>
                                                {/* ... outros spans para destinatário ... */}
                                            </div>
                                        </div>
                                    </div>
                                    {% if saida %}
                                    <div role="tabpanel" class="tab-pane" id="tab_venda">
                                        <div class="row clearfix" style="margin-top:15px;">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.venda_origem.errors %}error{% endif %}">
                                                        {{ form.venda_origem|add_class:"form-control" }}
                                                        <label class="form-label" for="{{ form.venda_origem.id_for_label }}">{{ form.venda_origem.label }}</label>
                                                    </div>
                                                    {% for error in form.venda_origem.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                            {# Outros campos/informações da Venda #}
                                        </div>
                                        {# Tabela de Itens (geralmente preenchida por FormSet ou JavaScript) #}
                                        <h4 style="border-bottom: 1px solid #afabab;margin-bottom: 25px;">Itens da Nota (vinculados à Venda)</h4>
                                        <div class="col-sm-12 lista">
                                            <table id="itens_table_venda" class="table table-bordered lista-table">
                                                <thead><tr><th>Produto</th><th>Qtd.</th><th>Vl. Unit.</th><th>Total</th></tr></thead>
                                                <tbody><tr><td colspan="4"><i>Itens carregados da venda selecionada.</i></td></tr></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab_cobr">
                                        <div class="row clearfix" style="margin-top:15px;">
                                            <h4 style="border-bottom: 1px solid #afabab;margin-bottom: 25px;">Fatura</h4>
                                            <div class="col-sm-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.fatura_numero.errors %}error{% endif %}">
                                                        {{ form.fatura_numero|add_class:"form-control" }}
                                                        <label class="form-label" for="{{ form.fatura_numero.id_for_label }}">Número da Fatura</label>
                                                    </div>
                                                    {% for error in form.fatura_numero.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.fatura_valor_original.errors %}error{% endif %}">
                                                        {{ form.fatura_valor_original|add_class:"form-control decimal-mask" }}
                                                        <label class="form-label" for="{{ form.fatura_valor_original.id_for_label }}">Valor Original</label>
                                                    </div>
                                                    {% for error in form.fatura_valor_original.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.fatura_valor_liquido.errors %}error{% endif %}">
                                                        {{ form.fatura_valor_liquido|add_class:"form-control decimal-mask" }}
                                                        <label class="form-label" for="{{ form.fatura_valor_liquido.id_for_label }}">Valor Líquido</label>
                                                    </div>
                                                    {% for error in form.fatura_valor_liquido.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                            {# Adicionar form.fatura_valor_desconto se necessário #}
                                        </div>
                                        {# Tabela de Duplicatas (geralmente preenchida por FormSet ou JavaScript) #}
                                        <h4 style="border-bottom: 1px solid #afabab;margin-bottom: 25px;">Duplicatas</h4>
                                        <div class="col-sm-12 lista">
                                            <table id="duplicatas_table" class="table table-bordered lista-table">
                                                <thead><tr><th>#ID</th><th>Vencimento</th><th>Valor</th></tr></thead>
                                                <tbody><tr><td colspan="3"><i>Duplicatas carregadas da condição de pagamento.</i></td></tr></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if entrada %}
                                    <div role="tabpanel" class="tab-pane" id="tab_compra">
                                        <div class="row clearfix" style="margin-top:15px;">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.compra_origem.errors %}error{% endif %}">
                                                        {{ form.compra_origem|add_class:"form-control" }}
                                                        <label class="form-label" for="{{ form.compra_origem.id_for_label }}">{{ form.compra_origem.label }}</label>
                                                    </div>
                                                    {% for error in form.compra_origem.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                            {# Outros campos/informações da Compra #}
                                        </div>
                                        {# Tabela de Itens (geralmente preenchida por FormSet ou JavaScript) #}
                                        <h4 style="border-bottom: 1px solid #afabab;margin-bottom: 25px;">Itens da Nota (vinculados à Compra)</h4>
                                        <div class="col-sm-12 lista">
                                            <table id="itens_table_compra" class="table table-bordered lista-table">
                                                <thead><tr><th>Produto</th><th>Qtd.</th><th>Vl. Unit.</th><th>Total</th></tr></thead>
                                                <tbody><tr><td colspan="4"><i>Itens carregados da compra selecionada.</i></td></tr></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}

                                    <div role="tabpanel" class="tab-pane" id="tab_inf_ad">
                                        <div class="row clearfix" style="margin-top:15px;">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.informacoes_adicionais_fisco.errors %}error{% endif %}">
                                                        {{ form.informacoes_adicionais_fisco|add_class:"form-control"|attr:"rows:4" }}
                                                        <label class="form-label" for="{{ form.informacoes_adicionais_fisco.id_for_label }}">{{ form.informacoes_adicionais_fisco.label }}</label>
                                                    </div>
                                                    {% for error in form.informacoes_adicionais_fisco.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line {% if form.informacoes_complementares.errors %}error{% endif %}">
                                                        {{ form.informacoes_complementares|add_class:"form-control"|attr:"rows:4" }}
                                                        <label class="form-label" for="{{ form.informacoes_complementares.id_for_label }}">{{ form.informacoes_complementares.label }}</label>
                                                    </div>
                                                    {% for error in form.informacoes_complementares.errors %}<label class="error">{{ error }}</label>{% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if object and object.pk and saida %} {# 'edit_nfe' foi simplificado para object.pk #}
                                    <div role="tabpanel" class="tab-pane" id="validacao">
                                        <div class="row clearfix" style="margin-top:15px;">
                                            <div class="col-sm-12 lista">
                                                <h4 style="border-bottom: 1px solid #afabab;margin-bottom: 25px;">Validação do XML Erros/Alertas {% if errors_validacao %}({{errors_validacao|length}} encontrados){% endif %}</h4>
                                                <table id="erros_validacao_tabela" class="table table-bordered lista-table">
                                                    <thead><tr><th>Tipo</th><th>Descrição</th></tr></thead>
                                                    <tbody>
                                                        {% for erro in errors_validacao %}
                                                        <tr {% if erro.tipo == '0' %}style="background-color:#ffaaaa;"{% else %}style="background-color:#d5cd83;"{% endif %}>
                                                            <td style="font-weight: bolder;">{% if erro.tipo %}{{erro.get_tipo_display}}{% endif %}</td>
                                                            <td style="font-weight: bolder;">{% if erro.descricao %}{{erro.descricao}}{% endif %}</td>
                                                        </tr>
                                                        {% empty %}
                                                        <tr><td colspan="2">Nenhum erro ou alerta de validação.</td></tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="sefaz">
                                        <div class="row clearfix" style="margin-top:15px;">
                                            <div class="col-sm-12 lista">
                                                <h4 style="border-bottom: 1px solid #afabab;margin-bottom: 25px;">Resposta do SEFAZ {% if resposta_sefaz %}({{resposta_sefaz|length}} encontrados){% endif %}</h4>
                                                <table id="resposta_sefaz_tabela" class="table table-bordered lista-table">
                                                    <thead><tr><th>Tipo</th><th>Código</th><th>Descrição</th></tr></thead>
                                                    <tbody>
                                                        {% for resposta in resposta_sefaz %}
                                                        <tr {% if resposta.tipo == '0' or resposta.tipo == '2' %}style="background-color:#ffaaaa;"{% elif resposta.tipo == '4' or resposta.tipo == '3' %}style="background-color:#d5cd83;"{% else %}style="background-color:#d5efd6;"{% endif %}>
                                                            <td style="font-weight: bolder;">{% if resposta.tipo %}{{resposta.get_tipo_display}}{% endif %}</td>
                                                            <td style="font-weight: bolder;">{% if resposta.codigo %}{{resposta.codigo}}{% endif %}</td>
                                                            <td style="font-weight: bolder;">{% if resposta.descricao %}{{resposta.descricao}}{% endif %}</td>
                                                        </tr>
                                                        {% empty %}
                                                        <tr><td colspan="3">Nenhuma resposta da SEFAZ registrada.</td></tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    {# Botão de salvar só aparece se a nota não estiver Autorizada, Cancelada ou Denegada, ou se for nova #}
                                    {% if not object or object.status not in "ACD" %}
                                    <button class="btn btn-success waves-effect foot-btn" type="submit"><i class="material-icons">&#xE148;</i><span> SALVAR</span></button>
                                    {% endif %}
                                    
                                    {% if return_url %}
                                    <a href="{{ return_url }}" class="btn btn-default waves-effect foot-btn">VOLTAR</a>
                                    {% else %}
                                    <a href="{% url 'base:index' %}" class="btn btn-default waves-effect foot-btn">VOLTAR</a>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js_custom %}
<script type="text/javascript">
    $(function () {
        // Ativar labels flutuantes para campos já preenchidos (se houver instância)
        $('.form-line').each(function() {
            var $this = $(this);
            var $input = $this.find('input[type!="checkbox"][type!="file"], textarea, select'); // Ignora checkbox e file
            if ($input.val() !== '' && $input.val() !== null && typeof $input.val() !== 'undefined') {
                $this.addClass('focused');
            }
        });

        // Lógica para mostrar/ocultar campos de fatura baseado no checkbox grupo_cobr
        // (Se você adicionar um campo 'grupo_cobr' ao seu formulário)
        // function toggleFaturaFields() {
        //     if ($('#id_grupo_cobr').is(':checked')) { // Substitua pelo ID real do seu checkbox
        //         $('.fatura_input_div').show(); // Assumindo que os campos da fatura estão dentro de um div com esta classe
        //     } else {
        //         $('.fatura_input_div').hide();
        //     }
        // }
        // $('#id_grupo_cobr').on('change', toggleFaturaFields);
        // toggleFaturaFields(); // Chama na carga da página

        // Adicionar aqui JavaScript para popular os spans de emitente/destinatário via AJAX
        // quando os selects de emitente/destinatário mudarem, e para carregar itens
        // de venda/compra.
    });
</script>
{% endblock %}
